<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
  <h1>게시글 등록</h1>

  <div class="col-md-12">
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <label for="title" th:text="제목"></label>
          <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요"/>
        </div>

        <div class="form-group">
          <label for="author" th:text="작성자"></label>
          <input type="text" class="form-control" id="author" placeholder="제목을 입력하세요"/>
        </div>

        <div class="form-group">
          <label for="content" th:text="내용"></label>
          <input type="text" class="form-control" id="content" placeholder="제목을 입력하세요"/>
        </div>
        </form>
        <button class="btn btn-secondary" th:onclick="|location.href='@{/posts/paging}'|" type="button">취소</button>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>

    </div>
  </div>
</th:block>
</html>

